.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.8rem;
  line-height: 55px;
  color: var(--accent-color);
}

.about-wrapper span {
  font-size: 2.5rem;
  font-weight: 600;
}
