.boards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.board,
.board-add {
  display: grid;
  place-content: center;
  border-radius: 10px;
  height: 200px;
  font-weight: bold;
  font-size: 1.5rem;
  word-break: break-word;
  padding: 20px;
}

.board {
  border: 4px solid var(--accent-color);
  position: relative;
}

.board-name-saved {
  cursor: pointer;
}

.board-add {
  font-size: 2rem;
  cursor: pointer;
}

.board-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.active-board {
  background-color: var(--accent-color);
  color: var(--main-color);
}
