body {
  background-color: var(--background-color);
  background-image: url();
  transition: all 1s ease;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100dvh;
  width: 60dvw;
  margin: auto;
  font-family: var(--font-fam);
  background-size: cover;
  padding-inline: 50px;
}

.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 50px;
  height: 85%;
  border-left: 3px solid var(--accent-color);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: 0.5s all ease;
}

.about-wrapper,
.change-theme-wrapper,
.add-sticker-wrapper,
.boards-wrapper,
.rearrange-wrapper {
  position: absolute;
  width: 90%;
}

.active {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.content-wrapper::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  padding-block: 60px;
  padding-inline: 40px;
}

.border-line {
  flex-direction: row;
}

@media (width < 1280px) {
  .wrapper {
    width: 100%;
  }
}

@media (width < 800px) {
  .wrapper {
    flex-direction: column;
    align-items: normal;
    height: fit-content;
  }

  .utils-wrapper {
    width: 100%;
    padding: 100px;
  }

  .content-wrapper {
    border-left: none;
    overflow-y: visible;
    height: auto;
  }
}
